@font-face {
    font-family: "Roboto Bold";
    src: url("/css/font/Roboto/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("/css/font/Roboto/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Light";
    src: url("/css/font/Roboto/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


body {
    background-color: #F7F5F9;
    /* display: flex; */
}



.form-response {
    height: 392px;
    width: 481px;
    top: 31px;
    border-radius: 12px;
    background: #E5E5E5;
    left: 50%;
    position: relative;
    margin-left: -240px;
    box-shadow: 5px 5px 15px 0px #00000040;


}


.container {
    position: absolute;
    top: 15px;
    left: 40px;
    right: 40px;

}

.title {
    /* height: 20px;
    width: 168px;
    left: 312px;
    top: 71px;
    border-radius: nullpx; */
    font-family: 'Roboto Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #3B3D43;
    margin-bottom: 12.5px;


}

input {
    /* Shadow 1 */
    font-family: "Roboto Regular";
    height: 48px;
    width: 380px;
    left: 0px;
    top: 0px;
    border-radius: 6px;
    background: #FFFFFF;
    border: 1px solid #854FC8;
    /* box-shadow: 0px 7px 64px 0px #854FC8; */

    margin-bottom: 10px;
    margin-top: 9px;
    caret-color: rgb(83, 9, 9);

    padding-left: 12px;
    font-size: 15px;
    




}

input::-webkit-input-placeholder {
    font-family: "Roboto Regular";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #D0C9D6;

    /* text-indent: 15px; */
}



.btn {
    margin-bottom: 25px;
    height: 48px;
    width: 401px;
    left: 0px;
    top: 0px;
    border-radius: 6px;
    background: #6979F8;

    font-family: "Roboto Light";
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #FFFFFF;

    margin-bottom: 12.5px;
    margin-top: 12.5px;

align-items: center;
text-align: center;

}





/* button:hover {
    background: rgb(155, 17, 17);

} */

input[type="text"]::-ms-clear {
    display: none;
}

input[type="password"]::-ms-reveal {
    display: none;
}

::placeholder {
    height: 20px;
    width: 350.875px;
    left: 15px;
    top: 14px;
    border-radius: nullpx;
    font-family: "Roboto Regular";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #D0C9D6;



}